[2018-04-15 18:01] digitalcraftsman opened #2 "Make screenshot url in README absolute"
On the Hugo theme site the screenshot in your README isn't shown because a relative path is used that doesn't correspond to the directory structure on https://themes.gohugo.io/

[2018-04-16 03:48] lucperkins commented on #2
Fixed in commit 24667858989502bdd7d3b54584c5dc98198c5d15

[2018-04-16 04:11] #2 closed, assigned to nobody

[2018-04-17 10:40] fra42 opened #4 "Some images in the mobile browser do not work"
Hi there!

I tried the site demo on the Hugo site but some images are missing..  here a screenshot https://ibb.co/fUZVHS

Thanks a lot!

[2018-04-17 10:55] fra42 commented on #4
Update: It seems a Firefox problem. Tried with both Firefox Nightly and Firefox Focus.

Also, some images di not display in Firefox Nightly for desktop too...

[2018-04-18 00:41] lucperkins commented on #4
This theme is a pure port of the CSS Ninja Fresh theme, which I did not design myself, so I unfortunately can't really offer any help on browser-specific issues. Sorry.

[2018-04-21 16:23] eljefedelrodeodeljefe opened #5 "bug: styling issues in nav"
The demo page and the local check out have the following defect
<img width="890" alt="hugo_fresh_theme" src="https://user-images.githubusercontent.com/3899684/39086416-20985a7c-4591-11e8-86b9-1ab2c6b8c2f6.png">

[2018-05-04 23:26] robvolk opened #7 "Error building theme on brand new site"
I'm trying to use this theme on a brand new site and Hugo is erroring out.  I just updated Hugo and running v0.40.2.

Here's the error:
[code]

Anyone else get this?

[2018-05-04 23:34] robvolk commented on #7
Neevermind, didn't see the next section on running it locally.

[2018-05-04 23:34] #7 closed, assigned to nobody

[2018-05-05 06:31] #5 closed, assigned to nobody

[2018-05-19 19:08] localguru opened #8 "Subpages"
Hi,

how do I create pages with the basic layout of the landing page (header, content of page, footer), something like /about or /privacy?

Thanks!

[2018-05-19 19:40] lucperkins commented on #8
This particular theme is intended only as a landing page theme. If you’d be like to expand it to be a more all-encompassing theme, please feel free to submit a PR!

[2018-05-20 00:38] localguru opened #9 "Does not work with JavaScript disabled"
Hi,

the theme is not working with JavaScript disabled (eg. NoScript Add-on), just a blank site with the loading icon displayed.

Ciao!

[2018-05-20 03:28] lucperkins commented on #9
I unfortunately don’t really have the bandwidth to update this project, so please feel free to submit a pull request if you run into issues

[2018-05-31 23:38] liz-miller opened #10 "Error rendering the hugo site"
Can't seem to get the hugo site to build. I've followed your steps in the README. I'm on a Mac running the latest version of hugo (Hugo Static Site Generator v0.41) with Node.js installed.

This is the error I'm getting. Probably something simple, so your help is appreciated!

[code]

[2018-06-01 03:17] dkinder commented on #10
Did you run the following per the instructions?
`(cd themes/hugo-fresh && make setup && make dev)`

[2018-06-01 03:33] liz-miller commented on #10
Yes, but it failed. Not sure why

[2018-06-01 05:22] lucperkins commented on #10
Hmmm. It looks like the CSS isn't being built. Are you running the two processes in separate terminal windows?

[2018-06-01 14:10] liz-miller commented on #10
Yes, i ran the `(cd themes/hugo-fresh && make setup && make dev)` and this error occurred:

[code]
Then when I run the `hugo server` I receive this error...
[code]
Both run in separate terminals. I'm on a Mac if that makes any difference. Tried removing and setting up the hugo site a few times. Same error.

I have another hugo website running on github pages (no problems), so I'm familiar with tha

[2018-06-01 15:16] lucperkins commented on #10
@liz-miller Ah, I see. Forgot to put in the `README` that you'll need to have [Yarn](https://yarnpkg.com/lang/en/) installed. Since you're on macOS a simple `brew install yarn` should do the trick!

[2018-06-01 15:50] lucperkins commented on #10
Okay, I've update the `README` to reflect this requirement 👍

[2018-06-01 15:51] #10 closed, assigned to nobody

[2018-06-01 21:09] liz-miller commented on #10
Thanks, I got it to work now!

[2018-06-01 21:23] #8 closed, assigned to nobody

[2018-06-01 21:23] lucperkins commented on #10
@liz-miller Awesome! So glad you were able to get up and running

[2018-06-13 19:56] unrealwork opened #11 "Dropdowns in the top menu dont work"
https://themes.gohugo.io/theme/hugo-fresh/

[2018-06-15 10:34] unrealwork commented on #11
I think you just did not build the latest core.css component, current version contains deprecated `nav-item` class, but you use `navbar-item` in layouts.

[2018-06-20 19:42] ericmand commented on #11
I'm seeing this too. It seems as two versions of core are generated but the deprecated one is rendered. Did you figure out how to fix?

[2018-06-20 20:00] lucperkins commented on #11
At the moment I'm starting a new job and unfortunately don't really have the bandwidth for this. Please feel free to submit pull requests with fixes.

[2018-07-23 21:06] andrewimeson opened #13 "Best way to hide page elements?"
I'd like to hide certain page elements on the main page. I could modify the theme, but then I'd lose the easy upgrade path. Is there a way to hide elements via the YAML file? If I comment out `features:` and all children, the gray background still stays on the page.

I'd be happy to contribute docs if you can give me enough to figure it out 😄

[2018-07-23 21:15] lucperkins commented on #13
@andrewimeson Unfortunately I don't really have the bandwidth to maintain this right now. Please feel free to submit a PR if you'd like to add a way of hiding/showing elements based on configuration.

[2018-08-01 02:55] viaoi commented on #9
Building sites … ERROR 2018/08/01 10:27:16 Error while rendering "home" in "": template: index.html:6:7: executing "index.html" at <partial "css.html" .>: error calling partial: template: partials/css.html:5:36: executing "partials/css.html" at <index .Site.Data.ass...>: error calling index: index of untyped nil
Total in 5 ms
Error: Error building site: logged 1 error(s)

[2018-08-04 12:37] lucperkins commented on #11
@unrealwork @ericmand I've updated the theme to use the new Fresh theme from CSS Ninja, so this should no longer be an issue

[2018-08-04 12:37] #11 closed, assigned to nobody

[2018-08-04 12:37] #4 closed, assigned to nobody

[2018-08-04 12:37] lucperkins commented on #9
@viaoi Please follow the instructions in the README

[2018-08-04 12:38] lucperkins commented on #9
@localguru I don't really have any plans to adapt the theme to work without JavaScript. Please feel free to submit a pull request if you'd like to add support for that.

[2018-08-04 12:38] #9 closed, assigned to nobody

[2018-08-04 12:38] #13 closed, assigned to nobody

[2018-08-06 13:59] jukefr opened #14 "failed to transform "style.sass" (text/x-sass): this feature is not available in your current Hugo version"
I am running `Hugo Static Site Generator v0.46 linux/amd64 BuildDate: 2018-08-01T09:00:55Z`

I did the step by step in the README.md

When I try to `hugo server` I get

[code]

[2018-08-06 14:02] jukefr commented on #14
my bad, thought I had the extended version installed, didn't.

you NEED hugo extended version, in my case `hugo_extended_0.46_Linux_64bit.deb`

[2018-08-06 14:02] #14 closed, assigned to nobody

[2018-08-07 05:51] lucperkins commented on #14
@jukefr Glad to hear!

[2018-08-12 19:56] raheems opened #15 "Customize the menu"
Hi,
I am wondering how to customize the menu such as the dropdown menu?

[2018-08-13 13:34] debianmaster opened #16 "licencing"
can you please declare licencing type for this project?

[2018-08-13 15:00] lucperkins commented on #15
@raheems That's not currently customizable but I'll fix that.

[2018-08-13 15:09] lucperkins commented on #15
@raheems Okay, I've updated it to allow for a customizable navbar. You can see how [here](https://github.com/lucperkins/hugo-fresh/blob/master/exampleSite/config.yaml#L28-L40).

[2018-08-13 15:09] #15 closed, assigned to nobody

[2018-08-13 15:10] lucperkins commented on #16
@debianmaster Okay, I've licensed it MIT!

[2018-08-13 15:10] #16 closed, assigned to nobody

[2018-08-13 15:15] debianmaster commented on #16
thanks @lucperkins !

[2018-08-13 16:02] raheems opened #17 "Sidebar link not working"
Not exactly sure how the links in the sidebar menu are supposed to work. For me they do not work.

I've inserted a link for the Profile of the User menu as follows. And the link doesn't work. Upon clicking, it closes the "User" menu.

sidebar:
    # Logo (from /images/logos/___.svg)
    logo: fresh-square
    sections:
    - title: User
      icon: user
      links:
      - text: Profile
        u

[2018-08-13 16:17] lucperkins commented on #17
@raheems That appears to be an issue with the [CSS Ninja theme](https://cssninja.io/themes/fresh) itself, which I do not maintain. So unfortunately I'm not really sure how to fix it.

[2018-08-13 16:51] raheems opened #18 "Adding links to the section1 contents"
This not an issue but perhaps a request.

I would like to add links to the buttons in the section1 contents. For example, there are three blocks with buttons on each. If you could give an example of how to add links to them separately, that would be great.

The goal here is to showcase a list of books/articles which would link to the contents when clicked.

I know you might not have free time for

[2018-08-13 17:14] lucperkins commented on #18
Okay, I've added this 👍

[2018-08-13 17:14] #18 closed, assigned to nobody

[2018-08-13 17:15] lucperkins commented on #17
I would encourage you, though, to see if there's a JavaScript fix in `fresh.js`.

[2018-08-13 22:43] raheems opened #19 "Footer section DOCS and BLOGROLL elements duplicated"
The DOCS and BLOGROLL elements in the footer section got duplicated.

This is a minor fix and I was able to do it at my end. Thought to notify you so you can update it when you have some time :)

[2018-08-13 23:04] raheems commented on #15
The navbar-clone needs to reflect the changes as well 👍

[2018-08-13 23:05] lucperkins commented on #15
Feel free to submit a pull request

[2018-08-14 18:45] raheems commented on #19
I've sent a pull request for this.

[2018-08-17 18:21] insightcoder commented on #14
@jukefr I had the same issue.  Thanks!

[2018-08-17 18:54] #19 closed, assigned to nobody

[2018-08-24 17:00] rickb777 opened #21 "duplicate ids error"
Your theme generates badly-formed HTML with several duplicate ids. These are not allowed by W3C specs.

For example in index.html
id="menu-icon-wrapper"
id="menu-icon-trigger"

[2018-08-24 17:09] onedrawingperday opened #22 "Please make Hugo Fresh work for all versions of Hugo."
Hello @lucperkins

This came up in the Hugo forum today: https://discourse.gohugo.io/t/hugo-fresh-a-wonderful-theme-for-learning-new-hugo-features/13792/2 from a user who tried to use your theme without having installed Hugo Extended.

Recently a decision was made that Hugo themes assets should be considered as stable and theme authors who use Hugo Extended features should commit their `/resources

[2018-08-24 17:17] lucperkins commented on #22
@onedrawingperday Can I simply put the generated `resources` directory in the theme? I've only ever used the `resources` directory in the main project directory.

[2018-08-24 17:18] lucperkins commented on #22
@onedrawingperday I've now added the `resources` directory. As far as I know this *should* work. I'm closing this issue for now. Please feel free to re-open if there are further issues.

[2018-08-24 17:18] #22 closed, assigned to nobody

[2018-08-24 17:20] rickb777 commented on #21
It seems these can simply be deleted from the source templates without affecting the javascript code.

[2018-08-24 17:21] lucperkins commented on #21
@rickb777 This theme is just a Hugo wrapper around someone else's logic. Is there a visual issue here or just a spec issue?

[2018-08-24 17:23] onedrawingperday commented on #22
Thanks so much for the swift reply!

[2018-08-26 21:33] mojoa commented on #22
Can we re-open this issue? Extended version of Hugo is needed to use the theme currently.
Hugo Topic: https://discourse.gohugo.io/t/hugo-extended-needed-for-hugo-fresh-theme/13844/22
Thank You

[2018-08-26 22:20] lucperkins commented on #22
@mojoa I’m sorry, but I do not plan on making this theme compatible with non-extended versions of Hugo. That would involve setting up a parallel Sass-to-CSS conversion pipeline that I would really prefer not to create. Others are welcome to add that via pull request if they wish.

[2018-08-26 22:31] mojoa commented on #22
Would it be possible to update the instructions to include mention of this dependency? The current step by step is perfect except the end result is a somewhat cryptic error if the user is not aware they need Hugo Extended.

[2018-08-26 22:32] lucperkins commented on #22
Oh sure, that’s no problem. I can do that tomorrow.

[2018-08-28 16:57] CelticParser opened #23 "Pipeline not Re-Compiling After Changes"
Hi, can you take at look at the issue I am having on the Hugo Community site?  I'd appreciate it!

I think I'm just missing something but haven't traced it down yet

[https://discourse.gohugo.io/t/pipeline-not-re-compiling-after-changes/13889](https://discourse.gohugo.io/t/pipeline-not-re-compiling-after-changes/13889)

[2018-08-29 23:01] mojoa commented on #22
Just wondering if you were still planning on updating..

[2018-08-29 23:02] lucperkins commented on #22
As far as I can tell there’s no need for an update here. The theme will work without the extended version of Hugo as demonstrated on the discussion board.

Follow these exact steps:

[code]

If that doesn't work for you then I really don't know what to tell you. I just tried it out with a non-extended version of Hugo.

[2018-08-29 23:27] mojoa commented on #22
The single person who claims it works without the extended version can not explain why it actually does not work. Others state you need it. I am simply spinning up a VM (fedora 28), downloading the Hugo binary and following the instructions listed for your Theme by copying the lines verbatim. Does it work for you without the extended Hugo? It should take you less than 5 minutes to verify what I am

[2018-08-29 23:33] lucperkins commented on #22
It works for me without an extended version of Hugo. I’ve tested it with multiple non-extended versions.

[2018-08-29 23:39] mojoa commented on #22
Wow, OK.. I am assuming this started working only after you "put the generated resources directory in the theme" ..  I never got a definitive confirmation from anyone that this change made it possible to use standard Hugo.

[2018-08-29 23:43] lucperkins commented on #22
Yes, that is correct. An issue was reported and I fixed it so that the theme would work with standard Hugo. Sorry for the lack of confirmation.

[2018-09-07 17:40] lucperkins commented on #23
@CelticParser I took a look yesterday and AFAICT that issue is not specific to this theme.

[2018-09-07 17:43] onedrawingperday opened #24 "CSS missing from Demo on Hugo Site"
Hello again @lucperkins

Today it was reported in the forum that your theme demo is [broken](https://discourse.gohugo.io/t/hugo-fresh-a-wonderful-theme-for-learning-new-hugo-features/13792/4).

I have seen a similar case when I was [reviewing](https://github.com/gohugoio/hugoThemes/issues/395#issuecomment-409029194) the Hugo Tale theme for the Themes Site.

If you view the source of your theme's [

[2018-09-07 17:48] lucperkins commented on #24
@onedrawingperday Fixed! Thanks a lot for your very speedy and thorough help!!! Excellent way to do open source 👍

[2018-09-07 17:49] #24 closed, assigned to nobody

[2018-09-07 21:49] mojoa commented on #22
Finally got around to testing this and unfortunately hugo standard does not work.
I launched a new AWS ec2 instance and downloaded the latest Hugo version.
wget https://github.com/gohugoio/hugo/releases/download/v0.48/hugo_0.48_Linux-64bit.tar.gz
Installed Hugo in /usr/local/bin/
-# which hugo
/usr/local/bin/hugo
-# hugo version
Hugo Static Site Generator v0.48 linux/amd64 BuildDate: 2018-08-29T06

[2018-09-07 22:21] lucperkins commented on #22
@mojoa I guess you're just going to have to use the extended version. This may not be a resolvable issue.

[2018-09-08 00:16] mojoa commented on #22
Thanks,
It might me nice if you let users know by updating your succinctly written step-by-step installation instructions to mention the requirements of having to use Hugo Extended. My goal is to keep others from spending time like I have, trying the standard Hugo, thinking it should work.

https://themes.gohugo.io/hugo-fresh/

[2018-09-08 00:18] lucperkins commented on #22
@mojoa Please submit a pull request with those changes

[2018-09-08 17:20] chbndrhnns opened #25 "Include and link normal hugo pages in theme?"
I would like to add a privacy policy, for example. How would I embed that as a page in Hugo? I do not want to mix my content with the theme so I tried `hugo new privacy`, ended up with that md file but I am not sure how I can create another html template that is rendered with the hello-fresh theme.

Would you maybe give me a hint on that one?

[2018-09-15 21:46] lucperkins commented on #25
@chbndrhnns I'd recommend consulting the Hugo documentation on sections, as you'd need to add a section template for that to work. This theme only has a main page template and thus can't yet accommodate adding additional pages.

[2018-09-23 23:15] nickray opened #27 "section3 image overlaps section2 feature illustrations"
On half-width window on desktop, it seems that section3 overlays section2:

![image](https://user-images.githubusercontent.com/1092423/45933955-4269d880-bf97-11e8-9019-0e57c109f561.png)

Any idea what's causing this?

[2018-11-06 13:06] StefMa opened #28 "Make sections optional"
Currently all "5" sections "needs to be filled" with content.
I would like to just "drop" a section and they shouldn't be rendered..

[2018-11-06 13:07] StefMa opened #29 "Make sidebar optional"
I really love this theme. But I don't need a sidebar.
As far as I can see it, it is *not* possible to just remove sidebar.
I would like to "remove" the sidebar in the config somehow...

[2018-11-06 13:09] StefMa opened #30 "Section1 should be more responsible"
The section1 has by default three tiles:
![bildschirmfoto 2018-11-06 um 14 08 07](https://user-images.githubusercontent.com/10229883/48066271-6bec6580-e1cd-11e8-82b7-8ae889b11817.png)
But when I only need one I would expect that it will render it in the middle of the screen.
Unfortunately they will be still left aligned:
![bildschirmfoto 2018-11-06 um 14 09 24](https://user-images.githubuserconten

[2018-11-06 13:12] StefMa opened #31 "Make logo customizeable"
The fresh-alt.svg logo is not customizeable.
https://github.com/lucperkins/hugo-fresh/blob/b5e7a67d6a7516748c721404fb60e793037f041f/layouts/partials/navbar.html#L6
It would be cool when I could change it via the configuration...

[2018-11-06 13:15] StefMa opened #32 "Footer 'titles' should be customizeable"
Currently the footer "titles" are hardcoded.
https://github.com/lucperkins/hugo-fresh/blob/b5e7a67d6a7516748c721404fb60e793037f041f/layouts/partials/footer.html

We have *always* Product, Docs, Blogroll and Follow us.
it would be cool when we could customize these titles.
So that we can replace the title with something different.

[2018-11-06 15:36] #28 closed, assigned to nobody

[2018-11-06 15:36] #29 closed, assigned to nobody

[2018-11-06 15:36] #31 closed, assigned to nobody

[2018-11-06 15:36] #32 closed, assigned to nobody

[2018-11-12 06:22] thinkerou opened #34 "How should support document?"

[2018-11-12 12:14] lucperkins commented on #34
This theme is currently intended only as a landing page theme, not to support many documents. If you’d like to add that capability, you are welcome to add that.

[2018-11-12 12:14] #34 closed, assigned to nobody

[2018-11-16 04:52] Zedonboy commented on #14
Am having the same issue with hugo 51 linux. any ideas?

[2018-11-21 15:41] clsource opened #37 "Include quicklinks in footer"
The current theme does not render the quicklinks in the footer because the `config.yaml` does not have proper configuration in the `footer`.

This should work I think.

[code]

[2018-11-24 10:12] dealelopez opened #38 "Error transforming SASS file in Hugo v0.51"
Following the  step, when executing `hugo server` gives an error:
[code]
I have installed
[code]

[2018-11-24 11:17] lucperkins commented on #38
You need to install the extended version of Hugo with Sass support

[2018-11-24 11:17] #38 closed, assigned to nobody

[2019-01-07 21:33] lina2358 opened #40 "Button text style issue"
[code]
results in
![image](https://user-images.githubusercontent.com/31328370/50794650-b22b7700-1299-11e9-83ba-690a569670fa.png)

The (aparently) offending part is `cta`class with
[code]

I've not found a way to make this work. (Chrome: Versión 71.0.3578.98 (Build oficial))

[2019-01-07 22:30] lina2358 commented on #40
[This](https://stackoverflow.com/questions/6007469/why-are-these-two-buttons-rendering-different) led to the solution.

[2019-01-20 13:47] gfrenoy commented on #17
The fix in ```fresh.js``` is the following:

[code]

So adding a ">" on line 36 so that only the root level of anchors react to a user click.

Let me submit a PR.

[2019-02-18 12:16] adamwooding commented on #37
Thank you so much @clsource  👍

[2019-02-18 13:21] StefMa commented on #37
Yep that will work.
Can you please provide a PR?

On Mon, Feb 18, 2019, 1:16 PM Adam Wooding <notifications@github.com> wrote:

[2019-02-21 12:06] adamwooding opened #45 "Include navbarlogo in config"
Hi, thank you so much for this fantastic Hugo theme 👍

Just a small issue - the current theme does not seem to render the navbar logo in the navbar because the `config.yaml` does not include any configuration for the `navbarlogo`.

This seems to work (for me):

[code]

Thanks again!

[2019-03-07 15:06] ahuk opened #46 "Set to different font"
[code]

Changing the font name to something like "Nunito" does not change the font in the built version. Inspect still shows Open Sans.

The head part `<link href="https://fonts.googleapis.com/css?family=Nunito:400,600" rel="stylesheet">` does change.

But this part does not
[code]

[2019-03-07 16:58] cliffordh opened #47 "Clipart SVG Source/License?"
Hi, I'm interested in using the SVG of the woman at her desk and also finding other licensable artwork in the same style. Where is the artwork from?

[2019-03-14 09:57] rolfkbk opened #48 "Text in partial footer "Follow us" is hard coded"
Should be a variable so template can be used in other languages

[2019-03-15 23:25] knmurphy commented on #45
@adamwooding thanks for the working example 🍻

[2019-03-19 14:54] #37 closed, assigned to nobody

[2019-03-19 14:54] #45 closed, assigned to nobody

[2019-03-26 07:36] StefMa commented on #47
Hi @cliffordh

I can't answer to that. Sry :(
I've taken the project from @lucperkins
Maybe we can answer to it?

[2019-03-26 07:45] StefMa opened #50 "Document better"
Currently the documentation is a little bit "rare".
We have to improve this.

- [x] About the optional sections | see https://github.com/StefMa/hugo-fresh/pull/33/commits/5e0cc43388756a9418c2966ae5137398a1f80297 and #33
- [x] About single pages | see #35
.. and maybe more :)

[2019-03-26 07:46] StefMa opened #51 "Change netlify.com to now.sh"
I don't provide the example at netlify.
It's from the old project maintainer.

Deploy an sample to now.sh and document it how to do this by yourself...

[2019-03-26 07:47] StefMa opened #52 "Create an shell-script for the getting-started section"
There is no need to manually copy/paste each line.
Create a shell script (or something) which does this automatically for you...

[2019-03-26 07:49] StefMa opened #53 "Add CI for manually deploying"
Add CircleCI to deploy this manually for each merge to master.

Depends on #51

[2019-03-26 07:51] StefMa opened #54 "Sample with single pages"
The sample should show single pages as well..

See also #50 and #35

[2019-03-26 10:47] #53 closed, assigned to nobody

[2019-03-26 10:49] StefMa commented on #51
Fixed by #56

[2019-03-26 10:49] #51 closed, assigned to nobody

[2019-03-26 11:10] #52 closed, assigned to nobody

[2019-03-26 11:41] StefMa commented on #48
The text is hardcoded here:
https://github.com/StefMa/hugo-fresh/blob/3b52fc46e469babfa48732605d635ba4611bde2e/layouts/partials/footer.html#L35

You are absolutely right.
That should be done in the `config.yml`

I would suggest we do something like:
[code]

[2019-03-26 11:44] StefMa commented on #40
Hi @acl2358
can you please give me the file where this html code can be found?

[2019-03-26 11:46] StefMa commented on #25
HI @chbndrhnns

I think this is solved with #35.
I hope I can show you an example in #54 and #50 which will then fit your requirements 👍

[2019-03-26 11:46] StefMa commented on #23
Closed as answered

[2019-03-26 11:46] #23 closed, assigned to nobody

[2019-03-26 11:47] StefMa commented on #21
Hi @rickb777
can you please give us an update here and answer the question from @lucperkins ? :)

[2019-03-30 19:28] OniriCorpe commented on #30
I agree!

It would be cool if we could be able to show more than three tiles :)

[2019-05-11 02:13] digitaldissent opened #57 "Add additional pages, blog, services etc.."
I would like to be able extend the theme to include other types of pages—blog posts, documentation pages, etc.

Is it possible to provide instructions or a a sample for one to follow?

Thanks

[2019-05-11 06:55] StefMa commented on #57
It is already possible to create single pages. See this PR for more
information:
https://github.com/StefMa/hugo-fresh/pull/35

Does this help?
Unfortunately I don't have a sample for that yet...
See also #54

On Sat, May 11, 2019, 4:13 AM Ryan Laxton <notifications@github.com> wrote:

[2019-06-06 10:17] #54 closed, assigned to nobody

[2019-06-06 12:34] StefMa commented on #50
Probably fixed in #58

[2019-06-06 12:34] #50 closed, assigned to nobody

[2019-06-06 12:35] StefMa commented on #57
I hope #58 explains it well.
If not feel free to ask again :)

[2019-06-06 12:35] #57 closed, assigned to nobody

[2019-06-18 13:18] StefMa commented on #25
@chbndrhnns #54 is fixed.
I'll close this for now. If you have any questions feel free to comment here again 👍

[2019-06-18 13:18] #25 closed, assigned to nobody

[2019-06-18 13:18] StefMa commented on #21
Closed due inactivity...

[2019-06-18 13:18] #21 closed, assigned to nobody

[2019-06-25 14:13] sbmueller opened #61 "Layout broken on fresh install"
When I follow the instructions precisely, I can't manage for the site to be deployed correctly. When I run `hugo server` I get the following warnings:
[code]
When accessing the page, it looks very broken:
![image](https://user-images.githubusercontent.com/7465688/60105555-cee23b00-9763-11e9-82ab-9fe905a9a18b.png)

Hugo version:
[code]
Go version:
[code]
Latest hugo-fresh from Github, MacOS 10.14.5

[2019-07-23 10:31] SofianeBoumedine commented on #61
Hi I have the same error on Ubuntu 16.0.4.

[2019-07-24 06:41] StefMa opened #62 "Long list of sidebar items does not scroll"
See this gif:
![Geist_1563950347010](https://user-images.githubusercontent.com/10229883/61770944-c296df80-adee-11e9-884f-3491624fef63.gif)

[2019-07-24 06:47] #62 closed, assigned to nobody

[2019-07-24 07:24] StefMa opened #64 "Sidebar with single pages are broken"
We can enable the sidebar by adding this to our `config.yml` file:
[code]
This works as expected and enable the sidebar to our main page **and** on single pages with its own sidebar:
![Geist_1563952924999](https://user-images.githubusercontent.com/10229883/61773332-bada3980-adf4-11e9-8be0-dc854ecc9a2e.gif)
![Geist_1563952974090](https://user-images.githubusercontent.com/10229883/61773335-bb72d000-

[2019-07-24 07:24] StefMa commented on #64
(The sidebar should also be documented at the README)

[2019-07-24 07:31] #17 closed, assigned to nobody

[2019-07-24 08:39] StefMa commented on #61
I see the same **WARNING**.
But my layout isn't broken.

Can you please checkout the HTML source code and say where it try to look at the `css` file?
Thanks 🆗

[2019-07-24 08:52] StefMa opened #65 "Fix warnings"
I get the following warnings when I build the site:
[code]

(See also #61)
We should fix the warnings

[2019-07-24 15:10] sbmueller commented on #61
I could solve the problem by deleting my browser cache. Feel free to reopen if the issue persists for you.

[2019-07-24 15:10] #61 closed, assigned to nobody

[2019-08-12 07:52] ghost opened #66 "Setup section5 with getform (to send emails)"
Hi,

I activate section5 by "true", but then I don't find where to setting up to make it work with service like getform.

Thank you for your work!

[2019-08-12 09:12] StefMa commented on #66
Hi @s6nougat

I'm not 100 percent sure if this will work (but according to the [Hugo documentation](https://gohugo.io/templates/partials/) I think it will).
But you could create a file called `section5.html` inside the directory `layouts/partials`.
You can use [*this* file](https://github.com/StefMa/hugo-fresh/blob/09cd890f5ca51dfd97f5dc15874d198816003f29/layouts/partials/section5.html) as a templ

[2019-08-12 09:35] ghost commented on #66
Getform works perfectly using your template section5.hmtl I just have to make some layout ajustment.

Thank you very much for your help!

[2019-08-12 09:48] StefMa commented on #66
Awesome. Thank you for the feedback 👍

[2019-08-12 09:48] #66 closed, assigned to nobody

[2019-08-12 09:52] StefMa commented on #47
Because this Hugo theme is basically a port of [this fresh](https://cssninja.io/themes/fresh#) and this is licenses under the [MIT](https://github.com/cssninjaStudio/fresh/blob/master/License) you are basically "free" to use the svgs.

[2019-08-12 09:52] #47 closed, assigned to nobody

[2019-08-24 06:19] bladepan commented on #48
Should also consider to make this section optional

[2019-08-24 19:15] StefMa opened #67 "Footer should be optional"
See https://github.com/StefMa/hugo-fresh/issues/48#issuecomment-524524762

[2019-08-30 17:15] Feliix42 opened #70 "Including additional single pages does not work"
A recent update to Hugo or this theme seems to have broken the "single page" functionality.

I tried to build the example site as well as my own site where I also have a GDPR page linked from the landing page and in both cases, the generated HTML for the single pages is faulty and a mere copy of the landing page. Clicking a link pointing to the subpage in the live preview also does not seem to wor

[2019-09-03 17:11] #40 closed, assigned to nobody

[2019-09-03 17:18] StefMa commented on #70
Thanks for raising this up. I noticed it as well... Sometimes ☺.

Maybe just try to build it again?

[2019-09-03 18:44] thomasboni opened #71 "Font awesome gitlab icon not displayed in footer"
Gitlab icon is avaible on font awesome (https://fontawesome.com/v4.7.0/icon/gitlab/).

But when I try to use it in this theme it doesn't work:
[code]

Github and Twitter works fine but gitlab doesn't works (display nothing). Maybe I miss some step ?

[2019-09-05 21:09] lianos commented on #70
FWIW, this is also broken in the same way for me (my hugo version also matches the OP's).

It's also hosed in the same way up on the example site:

https://hugo-fresh.now.sh/blog/first

It's a really clean/neat theme, though ... thank you for your work on this!

[2019-09-06 05:39] sureshkvl commented on #70
I am also suffering with this bug.  Thanks for fixing this.

More information:
I downgraded my hugo version to v0.55.6. It works in this.

So looks like recent hugo version  causing this issue.

[2019-09-06 14:26] sureshkvl opened #73 "How to include images and youtube videos in the additional single page"
Hi ,
I follow the "exampleSite/content/agb.md" for designing single page.

I would like to include images and youtube videos.

Question1:   is there  any custom tag for IMAGE and Videos, like below,
{{% subtitle5 " My subtile" %}}

or should i use html tag?

Question2:  Where i should i place the images?

Thanks
suresh

[2019-09-06 14:59] sureshkvl opened #74 "Footer is not showing in the additional single page"
Footer of the HOME/MAIN page is not displaying in the additional single page.

[2019-09-07 06:27] lianos commented on #70
Nice sleuthing @sureshkvl! I can also confirm that this works in hugo v0.55.6

Although it's a bit tangential to this package itself, here are the details on how I downgraded my local hugo install on macOS (using [homebrew](https://brew.sh)) to 0.55.6 so that things can work locally until this theme is fixed to work on the latest hugo version.

I basically followed the instructions outlined in thi

[2019-09-07 07:13] StefMa commented on #70
Is there any warning or error in your logs while building? Maybe this could
give us a hint what's wrong...

On Sat, Sep 7, 2019, 8:27 AM Steve Lianoglou <notifications@github.com>
wrote:

[2019-09-07 17:09] souvou commented on #70
Same problem here, using last version of hugo.

Perhaps the warnings of hugo v0.55.6 are relevant?
```WARN 2019/09/07 19:51:43 Page's .Dir is deprecated and will be removed in a future release. Use .File.Dir.```
```WARN 2019/09/07 19:51:43 Page's .URL is deprecated and will be removed in a future release. Use .Permalink or .RelPermalink. If what you want is the front matter URL value, use .Params.

[2019-09-11 22:43] Feliix42 commented on #70
I get two warnings:
[code]
I have two single pages in the project, so this could be either connected or coincidental.

[2019-09-17 21:56] nathanbiller commented on #70
I get the same 2 errors as @Feliix42 but only have one static page, so I'm guessing the fact that there's 2 is not connected to the count.

I don't receive any other errors but notice that the index.html underneath the directory for my content is an exact replica of the main index.html file in the root directory of the public folder.

[2019-09-18 03:32] nathanbiller commented on #66
Just in case anyone else stumbles upon this issue: if you deploy/host with Netlify after copying section5.html to your partials override folder as described above you just need to add ```"data-netlify="true" method="POST"``` to your ```<form name="contact">``` and on build they'll automatically inject the ability to handle submissions and you can set them up to go directly to Slack or e-mail :)

[2019-09-23 18:33] nathanbiller commented on #27
This isn't an elegant fix (nor is the proper one), but it does fix the overlapping issue for the desktop view (the smaller iPad view is still messed up and the mobile view has extra space in it), but it's a short term fix until the proper fix is done somewhere within the css classes.

Copy section3.html to your partials folder and then open up the html in your favorite text editor.

Starting on li

[2019-09-25 06:04] nathanbiller commented on #27
@nickray Pretty sure I was able to figure this out; I've created a pull request after testing on my site and everything seems to work. If @StefMa approves and merges you won't need my clumsy workaround above, everything should just work as expected :)

[2019-09-25 21:17] nickray commented on #27
He, thanks for looking at this. The site I was using the theme for no longer uses it though 😉

[2019-09-27 12:18] nathanbiller commented on #65
I have a branch where I've fixed this, but it's a few commits ahead of other code that I submitted so I'm planning on waiting to submit a PR until my other PRs have been merged.

[2019-09-27 12:28] nathanbiller commented on #70
I've taken care of the warnings that @souvou mentioned, but that still didn't solve the issue. I believe that something that happened here broke the functionality, but I'm not sure what yet: https://github.com/gohugoio/hugo/milestone/90?closed=1 Open to any ideas; I'd really like to get this working, so I can continue developing my site. :)

[2019-10-02 11:46] StefMa commented on #65
That cool. Thank you.
Are you aware of [cherry-picks](https://git-scm.com/docs/git-cherry-pick)?

If its possible with your changes you could create a new branch and cherry-pick your commits into the new branch and create a PR :)

[2019-10-02 11:48] StefMa commented on #70
Maybe the problem is somewhere that the single pages aren't inside the content/post directory?
Maybe [this](https://gohugo.io/getting-started/directory-structure/) will help us here?!

[2019-10-02 11:49] StefMa commented on #74
This is intended and not an issue.

[2019-10-02 11:49] #74 closed, assigned to nobody

[2019-10-03 08:50] souvou commented on #70
Hi all, the issue is on the following files and the way that block "main" is handled:
- layouts/_default/baseof.html
- layouts/index.html

In particular,
- baseof.html should only mention the parts that are common in all pages; partials hero, section1, section2, etc should not be included in the main block (i.e., the should be removed because now they get in every page rendered).
- index.html shou

[2019-10-03 14:50] nathanbiller commented on #70
Thanks for the guidance @souvou I was able to make those changes and it's now working for me again on v 0.58.2 :)

I also tweaked the single page to allow including the footer on single pages which is something I think I remembered @StefMa mentioning he'd like at some point. If you include this on your front matter the footer will appear:

`include_footer: true`

[2019-10-03 15:58] nathanbiller commented on #73
@sureshkvl There are [standard hugo shortcodes](https://gohugo.io/content-management/shortcodes/). For youtube it should be:

`{{< youtube w7Ft2ymGmfc >}}`

They also explain how to handle images:

Input:
`{{< figure src="/media/spf13.jpg" title="Steve Francia" >}}`

Output:
[code]

"/media" would be referring to your "static/media/" folder I believe. I'd recommend putting all static content in th

[2019-10-03 16:02] nathanbiller commented on #71
@thomasboni The font-awesome package this theme is currently using is v4.6.3 Because they've rewritten their package from the ground up I updated what we were using to the current version and verified that gitlab does work there. So once @StefMa verifies and merges your icon should begin working but will require you to make a few tweaks to the config file. You'll now need to specify the full class

[2019-10-03 17:28] nathanbiller commented on #74
@sureshkvl If approved by @StefMa my PR will allow you to include a footer on single pages using `include_footer: true` in the front matter.

[2019-10-04 09:33] StefMa opened #81 "Don't relay on alpine hugo version"
We have some issues with hugo and our CI.
See [this comment](https://github.com/StefMa/hugo-fresh/pull/76#issuecomment-538325216) (and the whole PR) for more information.

Our CI should download a fixed version of hugo instead of relaying on the version which are bundles with alpine linux...

[2019-10-04 09:33] #27 closed, assigned to nobody

[2019-10-04 09:37] #65 closed, assigned to nobody

[2019-10-04 09:40] #70 closed, assigned to nobody

[2019-10-04 13:04] nathanbiller commented on #81
Hugo releases are available in multiple formats here: https://github.com/gohugoio/hugo/releases

[2019-10-04 15:37] todinov opened #83 "Use relURL instead of absURL for static assets"
Our website has a staging version on a different domain and at the moment we are building it with different baseURLs in order for the static assets to load properly. The need for base URL can easily be removed by using relURL instead of absURL. We have tested this and see no issues, so I'll be opening a pull request for review.

[2019-10-04 19:27] todinov opened #85 "Main navigation is broken"
It looks like this pull request https://github.com/StefMa/hugo-fresh/pull/78/files broke the main navigation. As far as I understand the idea was to fix hugo warnings by replacing .URL with .Permalink in the templates, but only one of those replacements was needed. The others were attributes in the config file.

[2019-10-07 13:24] #83 closed, assigned to nobody

[2019-10-08 06:20] #81 closed, assigned to nobody

[2019-10-08 08:19] StefMa commented on #85
Can you please give more insites "whats broken"?
I don't understand the issue...
Maybe an example would be great 👍

[2019-10-08 08:20] StefMa commented on #73
Thanks for the explanation @nathanbiller!
Closed as answered.

[2019-10-08 08:20] #73 closed, assigned to nobody

[2019-10-08 13:45] nathanbiller commented on #85
@todinov I agree more details would be helpful. I basically just did a find/replace for .URL and .Permalink

There were multiple warnings that I was trying to address. I probably could have made this more clear by doing two separate PRs, but I combined them.

Reviewing those changes I noticed in layouts/partials/single/sidebar.html Line 11 the following changes which I don't recall why I would hav

[2019-10-08 14:25] nathanbiller opened #89 "Should allow users to set their site colors"
The primary, secondary, and accent colors are defined in /assets/fresh/partials/_colors.scss

I modified mine by simply duplicating that file and moving it from my theme directory to my site directory and then I just modified the hex values. However, this seems like it would be a nice feature to add and should be able to be accomplished by adding variables to that file and then defining them in th

[2019-10-08 15:09] todinov commented on #85
I'm sorry, I should have been more specific. I'm actually talking about the main navigation (navbar.html and navbar-clone.html). You can see that in the pull request I referenced, the navbar was changed to use .Permalink in this section:

[code]
There is no Permalink in this context, because $navbar is defined as:
[code]
This means that we are just looping through the navbar configuration in confi

[2019-10-08 17:46] nathanbiller commented on #85
Ah, yes that's exactly what I did (over road my navbar so that my logo could display larger). Sorry about that. I was trying to help and inadvertently made things worse :(

[2019-10-11 06:13] #48 closed, assigned to nobody

[2019-10-11 06:33] #85 closed, assigned to nobody

[2019-10-11 18:33] nathanbiller commented on #46
I've been digging into a lot of the CSS and SASS files lately and see the font hardcoded ALL over the place. Someone could go through and variablize all of those instances, but it will take a fair bit of work to make sure you get everything and it's working as expected.

[2019-10-12 00:08] nathanbiller opened #92 "If Java Script is disabled the only thing visible is the loader instead of basic text"
I'm not sure if it's possible to fail elegantly? I don't expect things to look good if javascript is disabled, but I would still like users to be able to access the content.

![Screenshot 2019-10-11 20 06 17](https://user-images.githubusercontent.com/13682301/66691229-c0605680-ec62-11e9-83e4-569de5b0c564.png)

[2019-10-15 12:16] StefMa opened #93 "Share hugo-fresh usages"
This theme has already 227 stars and 130 forks.
I think that is a lot!

Unfortunately I don't use this theme for myself. But I'm very interested in real use cases for this theme.

So if you like (and allowed) it would be cool if you could share a link to your website where this theme is used. I also would like to add this to the README afterwards.

[2019-10-17 18:35] ciaran-finnegan opened #94 "How can I get the contact form to send e-mail?"
Thanks.

[2019-11-04 09:01] StefMa commented on #94
Maybe this issue gives you some hints?
https://github.com/StefMa/hugo-fresh/issues/66

[2019-11-04 09:04] #94 closed, assigned to nobody

[2019-11-08 22:20] Allen616 commented on #65
I see this is closed but I am still getting similar errors.

`WARN 2019/11/07 15:00:29 found no layout file for "HTML" for "taxonomy": You should create a template file which matches Hugo Layouts Lookup Rules for this combination.
WARN 2019/11/07 15:00:29 found no layout file for "HTML" for "taxonomy": You should create a template file which matches Hugo Layouts Lookup Rules for this combination.

[2019-11-11 11:09] shakthimaan opened #96 "Add more than three testimonials"
If I add a fourth testimonial, it gets sidelined on the right side. Is there support to add more than three testimonials, and have some kind of carousel setup done?

[2019-11-12 21:38] Allen616 commented on #65
I was able to overcome the errors by changing the "disable warnings" format in my config.yaml.

This is the format that corrected the warnings:

`disableKinds: ["page", "section", "taxonomy", "taxonomyTerm"]
`

Following is the existing format in the [config.yaml](https://github.com/StefMa/hugo-fresh/blob/master/exampleSite/config.yaml), which still created errors :

`disableKinds:
 -taxonomy
 -ta

[2019-11-17 19:52] nathanbiller opened #98 "section2 images are not being displayed on Firefox Browsers"
Both Chrome and Safari correctly show these SVG icons, but when Firefox renders they're missing.

![Screenshot 2019-11-17 14 48 25](https://user-images.githubusercontent.com/13682301/69013034-a1cc3a00-0949-11ea-95ba-4859bf38bf90.png)

[2019-12-05 19:37] Allen616 commented on #93
We are using it for our civic tech nonprofit, [Citizen Labs.](https://citizenlabs.org/)

[2019-12-06 15:14] Allen616 opened #100 "Site illustrations"
Wondering where the illustrations for Hugo-fresh come from? We really like the style and astetics and would like to use other similar illustrations. Are they original or come from a package?

Thanks....

[2019-12-19 04:16] imawhale opened #101 "Deployment issue"
I am deploying on netlify - what build directory should I specify in netlify.toml?

I deployed another theme using "/public" but there is no public dir in this theme.

Thanks!

[2019-12-19 04:17] imawhale opened #102 "Add deployment instructions"

[2019-12-19 04:18] imawhale commented on #67
Footer is optional. Remove the shortcode from the page (eg. index.html).

[2019-12-19 05:44] #102 closed, assigned to nobody

[2019-12-19 05:44] StefMa commented on #101
I am not a netlify user so I can't help your here.
But at the end it is simply static code. You only have tun run "Hugo" on
your command line. Then there will be an public directory which can be
deployed...

On Thu, Dec 19, 2019, 5:16 AM imawhale <notifications@github.com> wrote:

[2019-12-19 06:08] imawhale commented on #101
In case anyone else has this issue, here is my netlify.toml, which now works.

Thanks for a great theme!

`[build]
publish = "public"
command = "hugo"
#command = "hugo --gc --minify"
[context.production.environment]
HUGO_VERSION = "0.60.1"
#HUGO_VERSION = "0.54.0"
HUGO_ENV = "production"
HUGO_ENABLEGITINFO = "true"
[context.split1]
command = "hugo --gc --minify --enableGitInfo"
[context.split1.env

[2019-12-19 11:44] #101 closed, assigned to nobody

[2019-12-19 13:12] imawhale commented on #92
Displaying an error message such as:

"This site requires javascript..."

Would help.

[2019-12-19 13:13] imawhale commented on #96
You could achieve this with custom HTML and CSS.

[2019-12-19 15:00] imawhale opened #103 "How to create list page templates with this theme?"
I want to create a page that lists all pages in each content directory (eg. all blog posts).

1. I create a list.html file in themes/hugo-fresh/layouts/_default

2. I include the markup code:
[code]
3. In the directory (eg. content/blog/) I create a _index.md file.

Unfortunately this generates a Hugo server error.

[code]

I notice the config.yaml file includes these lines:
[code]

Reference: htt

[2019-12-19 15:46] imawhale commented on #103
Update: list.html successfully renders content in _index.html, however, list templates seem to not function as per the Hugo documentation.

[2019-12-26 14:33] quybaohoang opened #104 "Insert external link to clientlogos"
Hello,

How can I insert link to each image of client logos? I want to link each image to an external url.

Thank you so much,

[2019-12-29 19:17] StefMa commented on #104
I guess this is not possible atm. But nice feature request.
I will take a deeper look at it tomorrow and get back to the issue
afterwards.

On Thu, Dec 26, 2019, 3:33 PM Quy B. Hoang <notifications@github.com> wrote:

[2019-12-30 08:15] StefMa commented on #104
I just looked over it and unfortunately it is not possible atm.
[This is the html](https://github.com/StefMa/hugo-fresh/blob/5ebe24e941484f51dfe9638bd6011c5004ac49db/layouts/partials/hero-footer.html) which renders the logos.
As you see there are only the "clientlogos" params which are rendered. Without any links or something.

But I think this could be a nice feature.
I suggest that we add someth

[2019-12-30 14:55] quybaohoang commented on #104
Sounds great!

[2020-01-04 04:04] raminf opened #105 "Not clear how to create anchors"
New to Hugo. It's not obvious from the hugo-fresh docs (or the code) how to create link anchors and reference them.

Looking to have an id="anchor-name" generated for different sections so links to "#anchor-name" have some place to go.

[2020-01-27 20:32] rgaiacs commented on #103
I noticed that I will get the list if I have

[code]

in `themes/hugo-fresh/layouts/_default/list.html` but the list will disappear when I use

[code]

[2020-01-31 11:00] ksilz opened #106 "Markdown doesn't render on additional pages"
I used your theme for a Hugo site. I added a markdown page to `content`. Its content isn't translated from Markdown into HTML (like `###` for headings or `- blah` for lists. To get any sort of styling, I have to embed HTML into the page, like in the `exampleSite` of the theme.

I'm using the latest version of Hugo (v0.63.2/extended) on the latest version of macOS Catalina (10.15.3). Here's the beg

[2020-02-02 09:16] Seljo34 opened #107 "Navbar link to section4"
It is not clear how to make a link for example from navbar to section 4 ?

[2020-02-02 10:49] StefMa commented on #107
Do you want that a click on a navbar icon should scroll to a specific section?

[2020-02-06 17:00] Seljo34 commented on #107
Yes

[2020-02-06 17:10] StefMa commented on #107
Yep, I have read this. No reason to answer twice ✌️.

On Thu, Feb 6, 2020, 6:00 PM Seljo34 <notifications@github.com> wrote:

[2020-02-07 04:19] sk33lz commented on #92
I figured out a much more accessible workaround for the preloader that I will submit a PR for at some point.

The theme adds a `js` class to the body tag when JavaScript is enabled, so add `.js` before the [#preloader](https://github.com/StefMa/hugo-fresh/blob/master/assets/fresh/partials/_utils.scss#L13) and [#status](https://github.com/StefMa/hugo-fresh/blob/master/assets/fresh/partials/_utils.s

[2020-02-07 15:12] nathanbiller commented on #92
Awesome, @sk33lz !

[2020-02-11 20:57] rglsk commented on #107
@StefMa @Seljo34 So is this possible to be done from a project config?

[2020-02-12 05:07] StefMa commented on #107
I haven't checked that yet. But I guess it is currently not possible and needs to be implemented.

[2020-02-12 07:54] rglsk commented on #107
Ok, thanks. Maybe I will add PR later with this feature 👍

[2020-02-16 15:02] nimitsolanki commented on #107
@Piotr-Rogulski any update on this? How can we scroll to particular section when a user clicks on the navigation menu?

[2020-02-17 08:23] rglsk commented on #107
@nimitsolanki I have not made the update to allow it from config, but for now, as a fast solution you can just update your section Html template with `name={your_anchor_name}` and then link it in the config navbar as `#your_anchor_name`

[2020-02-17 08:55] nimitsolanki commented on #107
Thanks for quick response, could you please explain your answer with an example. Thanks

[2020-02-17 11:41] rglsk commented on #107
@nimitsolanki
<img width="435" alt="Screenshot 2020-02-17 at 12 40 20" src="https://user-images.githubusercontent.com/2768101/74650813-cd4a0500-5182-11ea-85db-540269a0a759.png">
<img width="244" alt="Screenshot 2020-02-17 at 12 40 31" src="https://user-images.githubusercontent.com/2768101/74650815-cf13c880-5182-11ea-9eb7-4e7a6a739f78.png">

[2020-02-17 12:35] Seljo34 commented on #107
I tired this, but the link only loads the homepage without scrolling down to the section.
Do I have to edit something else ?

![config](https://user-images.githubusercontent.com/23176263/74654296-4bf67080-518a-11ea-9418-f03ad6d4b97b.JPG)
![section4](https://user-images.githubusercontent.com/23176263/74654297-4c8f0700-518a-11ea-9d00-bf8028335beb.JPG)

[2020-02-17 13:48] nimitsolanki commented on #107
@Piotr-Rogulski It is working for me! I have followed your example. Thanks!

[2020-02-23 04:07] ciaran-finnegan opened #108 "How to make the contact form work"
Hi,

I'm hosting on netlify, how can I make the contact form work?

Thanks.

[2020-02-23 13:01] StefMa commented on #108
Same as #66 and #94

[2020-02-23 13:02] #108 closed, assigned to nobody

[2020-02-23 13:04] StefMa commented on #107
Could someone maybe create a PR with this? Using names as section1, sections2 etc. of course to keep it generic.
I would really appreciate it. Thanks in advance 👌

[2020-02-24 05:41] ciaran-finnegan opened #109 "How to make contact form work"
Can anyone advise how to make the contact form work please?

[2020-02-24 09:02] #109 closed, assigned to nobody

[2020-02-24 09:02] StefMa commented on #109
Is this a joke?

On Mon, Feb 24, 2020, 6:41 AM Ciaran Finnegan <notifications@github.com>
wrote:

[2020-02-24 09:48] ciaran-finnegan commented on #109
No. Apologies if it’s an inappropriate question, he sample has a contact
form included.

On Mon, Feb 24, 2020 at 5:02 PM, Stefan M. <notifications@github.com> wrote:

[2020-03-04 14:57] Despinola1 opened #110 "how can i get the site"
Dear, I would like to be able to get the sample page, if you help me to clone the demo site ..
thanks

[2020-03-05 06:27] StefMa commented on #110
There is a getting started section in the Readme.
Doesn't this work for you?

On Wed, Mar 4, 2020, 3:57 PM Despinola1 <notifications@github.com> wrote:

[2020-03-05 14:23] Despinola1 commented on #110
No dear, I can't get the sample site, please help me?
or sending the site with all the files in a .zip to my email Despinola1@gmail.com

thanks

[2020-03-21 01:43] chriswiqa opened #111 "Links not working from clone, also not working on the demo site"
On both my clone and the [demo](https://themes.gohugo.io/theme/hugo-fresh/) site, the links are broken resulting in 404.  Example [AGB](https://themes.gohugo.io//theme/hugo-fresh/agb) footer.  Blog links are similar.  I can't see how to determine relative path to resolve.

[2020-03-21 04:18] chriswiqa commented on #111
Ok putting pages into the root [website]/content path not the themes/hugo-fresh/exampleSite/content and working for me now...

[2020-03-21 04:18] #111 closed, assigned to nobody

[2020-03-21 08:23] StefMa commented on #111
Hi

I have a "real" demo deployed here:
https://hugo-fresh.now.sh/

On Sat, Mar 21, 2020, 5:18 AM Chris Wellington <notifications@github.com>
wrote:

[2020-03-22 18:48] StefMa commented on #110
What problem do you have?
I cannot help you if you just say 'it does not work'... Where do you stuck?

[2020-05-06 10:40] malkij opened #112 "Associate a page with a title in sections"
Hello,
Is it possible to associate  an md page like "content/docs/example.md" to a url of a title in sections  :
[code]
Thank you.

[2020-05-06 11:23] ringods opened #113 "Allow theme to be used as a Hugo module"
Hugo 0.56 introduced [modules](https://gohugo.io/news/0.56.0-relnotes/) support. Themes can also be treated as a module now rather than adding them as a Git submodule. For this to work, one needs to add two files:

- `config.yml` (or .toml/.json)
- `go.mod`

[This fork](https://github.com/bep/hugo-fresh) shows this theme converted as a Hugo module. Can you integrate the above 2 files from the fork

[2020-05-10 12:40] dpaqfb commented on #106
@StefMa - thanks for this neat theme. Any update on @ksilz 's issue ?  I had added a single post here: https://github.com/frizbane/static-hugo-fresh-default after following the setup steps in README. Any help is appreciated.

[2020-05-10 18:11] lucperkins commented on #110
@Despinola1 This is a theme for the [Hugo](https://gohugo.io) static site generator. If you're not using Hugo then this will not be useful for you.

[2020-05-10 18:11] #110 closed, assigned to nobody

[2020-05-10 18:24] lucperkins commented on #106
Fixed in 995b901e8c0f5717dae0024d28262506e0acc59b

[2020-05-10 18:24] #106 closed, assigned to nobody

[2020-05-10 18:26] lucperkins commented on #105
@raminf These are automatically generated when you create Markdown headers.

[2020-05-10 18:26] #105 closed, assigned to nobody

[2020-05-10 19:31] dpaqfb commented on #106
Brilliant  - that works. Thanks @lucperkins

[2020-05-21 10:05] edwardch commented on #98
@nathanbiller this seems to be the svg file (really large) that needs to have its size specified.
For reference I used a 150px .png file and it displayed fine.

I fixed this by editing the `//Icon box` in `_sections.scss`

[code]

hth

[2020-05-21 16:10] asebold opened #114 "Update bulma"
Bulma has made some nice updates over the past year: https://github.com/jgthms/bulma/blob/master/CHANGELOG.md

Currently it appears the theme is using v0.7.0. Would be nice to update to Bulma 0.9.0 to get all the new features.

[2020-05-28 05:00] cells800 opened #116 "How can I add Lunr or Algolia search to this theme?"
Is there any way to add Lunr or Algolia search on this theme?

[2020-06-06 09:37] todinov commented on #116
Not sure how algolia works, but you can add lunr to any hugo site. I would use a pre-built index from a type template for lunr. So you add a template in `layouts/search/single.html`. Something like:
[code]
Then you create a placeholder page in your content. `content/search/index.md` for example.
[code]

Next you need to place the search field somewhere, maybe in the navbar:
[code]

Then a little b

[2020-06-06 09:46] todinov commented on #103
You need to define main, not create a block. The block already exists in the baseof template. So in list.html you do:
[code]

[2020-06-06 09:49] todinov commented on #93
We are using it on our company website https://miracl.com/

[2020-06-06 15:19] cells800 commented on #116
Thanks。Ivan。Let me try.

[2020-07-18 22:42] infiniteNIL opened #117 "Headings and newlines in .md file not rendered"
I created a new content page. Here's an example

[code]

None of the blank lines are rendered and the Spam is Evil heading comes out as just plain text. Am I missing some kind of configuration or what could be causing this?

[2020-08-26 16:39] #116 closed, assigned to nobody

[2020-09-01 06:47] maciekChmura opened #118 "Question: how to add new layout?"
First of all, thank you for creating this theme. I love it ❤️

I would like to add a new layout for single page. Small modification. Maybe just remove the title.
I followed tips in this thread but nothing seems to work for me.

https://discourse.gohugo.io/t/create-new-layout-for-an-about-page/6223

Could someone please help me figure it out?
Maybe someone has a working example?

Thanks.

[2020-09-02 15:06] StefMa commented on #118
Please checkout this comment https://github.com/StefMa/hugo-fresh/issues/66#issuecomment-520350731

I hope this will help you to override the current layout.

[2020-09-03 19:39] maciekChmura commented on #118
Thank you for your comment.
I am able to override the current layout, but can I have 2 layouts?

I would like to specify which layout to chose in markdown header file. Something like this:

file 1
+++
date = “2017-04-17T11:01:21-04:00”
draft = false
title = “Pricing”
layout = “pricing”
+++

file 2
+++
date = “2017-04-17T11:01:21-04:00”
draft = false
title = “About”
layout = “single”
+++

Can this

[2020-09-04 17:16] StefMa commented on #118
I am not sure with that. But I guess you need your own customer code to
realize that. It's not simply possibly by creating a new layout and then
let's Hugo pick it automatically.

On Thu, Sep 3, 2020, 9:39 PM Maciek Chmura <notifications@github.com> wrote:

[2020-11-25 23:10] rgommers commented on #92
@sk33lz any chance you could get back to this, or even just post a diff of what worked for you here?

[2020-11-25 23:30] sk33lz commented on #92
I got sidetracked by a newborn this year on my personal sites! I will try to put together a PR before the new year with the relevant changes.

[2021-02-08 20:34] davidbuenonnoleto opened #119 "Can I deploy a hugo website with this themeto netlify?"
I have been trying to deploy a hugo website with this theme to netlify, but it does not work

[2021-02-08 20:42] StefMa commented on #119
Can you specify what do you mean with "it does not work"?

What's the error message?
Steps to reproduce and so on...

On Mon, Feb 8, 2021, 9:34 PM David Noleto <notifications@github.com> wrote:

[2021-02-08 20:48] davidbuenonnoleto commented on #119
so I created a new hugo website locally, then I added the theme as git submodule to my project, and when I run hugo serve on my root folder it works perfectly locally, but when I import the project from github to netlify, when I click on deploy I get the following page:
![Screen Shot 2021-02-08 at 12 47 06 PM](https://user-images.githubusercontent.com/2189246/107279425-e0955680-6a0b-11eb-8162-9e31

[2021-02-09 09:03] StefMa commented on #119
Hmm.. Unfortunately I can't help you here I guess.
If it's working locally then there might be an issue somewhere with
netlify. I don't use it so I can't give you proper support for that.
But since the outputs are only static files it should work on any web
provider nowadays.

On Mon, Feb 8, 2021, 9:48 PM David Noleto <notifications@github.com> wrote:

[2021-02-09 16:00] #119 closed, assigned to nobody

[2021-02-09 16:00] davidbuenonnoleto commented on #119
no worries @StefMa, anyways thanks for the help, I will see if I can get any support from the netlify side

[2021-02-10 12:23] StefMa opened #120 "Support multilingual mode"
Currently the setup of the site together with text are done in the configuration file.
See for example
https://github.com/StefMa/hugo-fresh/blob/6b7327731336dd250a5deb54f56b0a364ae68ced/exampleSite/config.yaml#L29-L31
This prevents users to create sites in different languages.

This theme should support the multilingual mode described [this hugo documentation](https://gohugo.io/content-management/

[2021-02-10 12:48] StefMa opened #121 "Sidebar example and documentation"
The sidebar option is not documented nor showed as an example.

Add the option to the readme and to the example site.

[2021-02-11 07:41] StefMa opened #122 "sidebar clashes with single-page without sidebar"
Given a config file with a sidebar:
[code]

and a single page without sidebar:
[code]

The single page will render the sidebar icon but will not show anything.
![Geist_1613029251918](https://user-images.githubusercontent.com/10229883/107611715-e924a180-6c44-11eb-8939-214dd4dee796.gif)

Expected behaviour:
There is no sidebar icon.

[2021-02-11 07:44] StefMa commented on #121
This is how an sidebar can be configured:
[code]

[2021-02-11 08:10] StefMa commented on #120
What was mentioned above *is not true*.
I just read the documentation and the theme supports different langauge already quite well.

I testet a little bit and came up with the following configuration:
[code]
This give us support for english as well as german.
As you can see, it is possible to override the *params* in the languages.
Therefore it is a simple "override" in the configuration to suppor

[2021-02-11 08:10] #120 closed, assigned to nobody

[2021-02-11 13:14] #121 closed, assigned to nobody

[2021-02-11 13:20] StefMa commented on #122
Same as https://github.com/StefMa/hugo-fresh/issues/64

[2021-02-11 13:20] #122 closed, assigned to nobody

[2021-02-11 13:22] StefMa commented on #100
The theme is a port of https://cssninja.io/freebies/fresh.
Please get in touch with cssninja in case of such questions.

[2021-02-11 13:22] #100 closed, assigned to nobody

[2021-02-11 13:25] StefMa commented on #117
Hi,

is this still an issue?
As far as I can see it [here](http://infinitenil.com/about-us/) everything works as expected, right?

[2021-02-11 15:50] infiniteNIL commented on #117
That was awhile ago.It's actually here (http://infinitenil.com/about-us/)

I ended up working around it with just using HTML. It may have something to do with the CSS I was using (Using Tailwind CSS), which requires HTML for some of the styling.

[2021-02-11 18:26] StefMa commented on #117
I just remembered that bulma (the css framework used in hugo-fresh), ignores h[1-6] html tags. The size of the font will be controlled via css attributes.

That is the reason why I introduced shortcodes.
Checkout the [agb page](https://github.com/StefMa/hugo-fresh/blob/73ded70a9730873fb9c23ceb17e28c2f41325c67/exampleSite/content/agb.md) as an example.

I hope this helps!

[2021-02-11 18:29] #117 closed, assigned to nobody

[2021-02-15 12:57] StefMa commented on #113
Hi @ringods!

Thanks for the request.
I looked into this and it turned out that there is no need to change the existing implementation to support modules.
I'm not sure if that changed meanwhile, but with hugo 0.80.0 (current version), it is possible to use this theme as a module without any changes:

I testet it with a new hugo site and replaced the implementation for the current [exampleSite/conf

[2021-02-15 14:16] StefMa commented on #113
I added a "how to use this theme with go modules" to the readme.
Checkout the [commit](https://github.com/StefMa/hugo-fresh/commit/cc31e5c6078f07cbb4608530d73c187dd76002ad) .

[2021-02-15 14:16] #113 closed, assigned to nobody

[2021-02-15 14:22] StefMa commented on #112
Not sure if I understand you correctly.
But if you want to link to an "internal" url instead of an "external" url, then, sure, it is possible.
Simply add something like `/example`. This would redirect to `baseUrl/example`.

Does this help? 🤔

[2021-03-11 14:14] ksilz opened #125 "How can I change the breakpoint at which the nav bar hamburger menu appears?"
Hi,

It seems to kick in 1087 pixels or below. I'd like to lower this to, say, 900 or so. How can I do this?

[2021-09-28 19:37] DinaTaklit opened #127 "How to create a new page (ex: Contact, List of blogs) in this theme?"
Hello, I want once I click on contact us on the navbar to lead me to contact us which should be a **new page**: I have created `contact.html` inside `themes/hugo-fresh/layouts` but did not work, I have tried many options but did not work for me. How should process? I do not want to have` contact.md` approach. any hint?

[2021-09-28 19:44] StefMa commented on #127
Do you mean something like that https://hugo-fresh.vercel.app/blog/first?

Checkout the documenting here:
https://stefma.github.io/hugo-fresh/singlepage/

Does this help? 🤔

On Tue, Sep 28, 2021, 9:37 PM Dina Taklit ***@***.***> wrote:

[2021-09-28 19:51] DinaTaklit commented on #127
Nope, it does not, unfortunately. I want to create a new styled HTML page I do not want to use md file, what you shared is useful only for the privacy policy page, not a page that contains boxes and forms? I do not know how to manage this here

[2021-10-25 21:25] virilo commented on #96
@shakthimaan @imawhale  did you solve it?  the carousel would be a great enhancement

[2021-12-18 07:45] dfranco commented on #125
Hi @ksilz ,

Nav bar "hamburger" is defined here https://github.com/StefMa/hugo-fresh/blob/master/layouts/partials/navbar.html#L29

and nav bar burger documented at bulma.io here
https://bulma.io/documentation/components/navbar/#navbar-burger

again based on bulma.io documentation https://bulma.io/documentation/overview/responsiveness/#breakpoints

My guess is that nav bar burger appear if the scr

[2022-02-16 10:35] LucaMoiana commented on #103
Sorry I'm a noob but I don't get it. Starting from single.html I created a list.html layout adding the above code.
Then created a _index.md in content/blog with the following
`---
title:index
sidebar: false # or false to display the sidebar
sidebarlogo: fresh-white-alt # From (static/images/logo/)
include_footer: true # or false to display the footer
---`
but when I go to http://localhost:1313/blo

[2022-03-29 00:35] darrenaddy opened #135 "A few issues that I noticed"
I've been learning Hugo for a few months now, which certainly doesn't make me an expert - so if any of these things is due to MY misunderstanding, please feel free to correct me. (That's how I learn.) I would really like to thank the creator of this theme, because it does a great job of making many things clear, with good commenting in the config.yaml and other files. I hope that this theme can co

[2022-08-19 17:54] jurispucekts commented on #120
Based on the multilingual options the one thing which is missing is the ability to customize from the local language files the footer (as it is loaded from template). Or perhaps there is something I am missing in how to do it properly? In my current version if a page has footer enabled, it loads from DEFAULT language. To change this I would have to add language prefix in Layouts/partial references

[2022-09-20 07:13] Informaticore opened #143 "Question: Regarding setup the contact in section5"
How can I setup the contact form so I do get the mails? There is no documentation about it, it only says enable: true or false

[2022-09-21 21:12] Mahons opened #144 "Custom Height on the Navbar icon doesn't work"
I spotted in that the Navbar.html template... that the height variable is incorrectly assigned to the width parameter...

``
{{- $navbarLogoHeight := .Site.Params.navbarlogo.width | default 28 }}
``

[2022-09-22 02:24] #144 closed, assigned to nobody

[2022-09-22 02:24] StefMa commented on #144
Fixed in #145

[2022-10-02 21:36] Elphikaus opened #147 "Add banner at top of all pages"
I am using this theme for a group website.

My director wants me to add a banner with a message to all visitors to the website.

Is there a Hugo/Fresh functionality that would allow this already?

Thanks

[2022-10-03 09:37] StefMa commented on #147
Hey,

there is no default way to display a banner.

But you might want to have a look at bulma notification for this:
https://bulma.io/documentation/elements/notification/

On Sun, Oct 2, 2022, 11:36 PM Jonathan Miller ***@***.***>
wrote:

[2022-10-03 17:39] Elphikaus commented on #147
Hi,

Thanks, that was very helpful.

I would like to add a `notification` to the homepage.

Can I just add this in `/public/index.html`?

[2022-10-04 18:39] StefMa commented on #147
Please make yourself familiar with how Hugo works under the hood.
You can simply fork this project and try out what you suggested and see if it works.

[2022-10-04 18:39] #147 closed, assigned to nobody

[2022-10-23 21:16] LucaMoiana commented on #103
I'm getting back to the question cause I can get it to work.
Any chance somebody could share a list.html code?
Sorry to bother but I really like your fun and easy theme.

[2022-11-18 15:56] workdojos commented on #135
@darrendaady, really great write up there!  How are you getting along these days with it?